/*
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%; height: 100%;
  
    &:after {
        position: absolute;
        z-index: 121;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        content: ' ';
        background: {
            image: url(../img/icons/f.svg);
            repeat: no-repeat;
        }
        width: 70px;
        margin-left: 60px;
        margin-top: 65px;
        height: 100px;
    }
}


.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $c-blue;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: solid 16px transparent;
  border-top-color: $c-blue;
  border-left-color: $c-blue;
  border-radius: 50%;
  animation: pace-spinner 800ms linear infinite;
  margin-left: -60px;
  margin-top: -60px;
  
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
*/