.o-header {

    &__primary {
        font: {
            size: rem(100);
            weight: $medium;
        }
        
        @media screen and ( max-width: $base + px ) {
            font-size: get-vw-base(100);
        }
        
        @media screen and ( max-width: $laptop + px ) {
            font-size: rem(72);

            .is-home & {
                font-size: get-vw-laptop(100);
            }
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: rem(48);
            
            .is-home & {
                font-size: rem(48);
            }
        }
    }

    &__primary2 {
        line-height: 1.2;
        font: {
            size: rem(72);
            weight: $medium;
        }
        
        @media screen and ( max-width: $laptop + px ) {
            font-size: get-vw-laptop(72);
        }
        
        @media screen and ( max-width: $tablet + px ) {
            font-size: get-vw-tablet(60);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: rem(36);
        }
    }

    &__secondary {
        margin-bottom: 1em;
        line-height: 1.5em;
        font-size: rem(48);
        
        @media screen and ( max-width: $laptop + px ) {
            font-size: get-vw-laptop(48);
        }
        
        @media screen and ( max-width: $tablet + px ) {
            font-size: get-vw-tablet(48);
        }

        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: rem(36);
        }
    }

    &__third {
        font-size: rem(36);        
    }

    &__fourth {
        font-size: rem(24);
    }
    
    &__fifth {
        font-size: rem(20);
    }
}