.icon-gotop:before {
  content: "\e906";
}
.icon-hamburger:before {
  content: "\e907";
}
.icon-pdf:before {
  content: "\e904";
}
.icon-lokalizacja:before {
  content: "\e903";
}
.icon-jpg:before {
  content: "\e902";
}
.icon-jezyk:before {
  content: "\e901";
}
.icon-grot:before {
  content: "\e900";
}
.icon-kontakt:before {
  content: "\e905";
}