.c-gotop {
    @include z-index(gotop);
    position: fixed;
    right: 20px; bottom: 20px;
    width: 54px;
    padding: 0;
    cursor: pointer;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    
    &.is-visible {
        transform: translate3d(0, 0, 0);
        opacity: .7;
    }
    
    &:before {
        width: 21px;
        text-align: center;
    }
}