.c-topbar {
    @include z-index(topbar);
    @extend %anim;
    @extend %flex;
    @extend %flex-y;
    @extend %flex-space-between;
    @extend %rel;
    left: 0; top: 0;
    width: 100%;
    position: absolute;
  
    .menu-opened & {
        @media screen and ( max-width: $tablet_portrait + px ) {
            background-color: white;
        }
    }

    .c-logo {
        @media screen and ( max-width: $tablet_portrait + px ) {
            .menu-opened & {
                svg {
                    path {
                        fill: $c-blue;
                    }
                }
            }
        }
    }
    
    &.is-shadow {
        
        
        @media screen and ( max-width: $tablet_portrait + px ) {
           box-shadow: rgba($c-blue, .15) 0 2px 5px;
        }
    }
    

    &.is-fixed {
        @extend %anim;
        position: fixed;
        background-color: white;
        height: 100px;
        padding: 0 50px;
        transform: translate3d(0, calc(-100% - 20px), 0);
        box-shadow: rgba($c-blue, .15) 0 10px 24px;
        
        @media screen and ( max-width: $base + px ) {
            padding: 0 grid(50);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
           height: 72px;
           padding: 0 30px;
           box-shadow: rgba($c-blue, .15) 0 2px 5px;
        }
        
        .c-logo {
            svg {
                margin: 0;
                path {
                    fill: $c-blue;
                }
            }
        }
        
        &.is-visible {
            transform: translate3d(0, 0, 0);
        }
    }    
    
    &.is-normal {
        height: 140px;
        padding: 0 50px;
        transform: translate3d(0, 0, 0);

        @media screen and ( max-width: $base + px ) {
            padding: 0 grid(50);
        }

        @media screen and ( max-width: $laptop + px ) {
            height: get-vw-laptop(140);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            height: 72px;
            padding: 0 30px;
        }
    }
    
    
    
}