<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body class="is-home" style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div class="c-cover" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(48,147,209,1);
    background: -moz-linear-gradient(-45deg, rgba(48,147,209,1) 0%, rgba(18,216,250,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,147,209,1)), color-stop(100%, rgba(18,216,250,1)));
    background: -webkit-linear-gradient(-45deg, rgba(48,147,209,1) 0%, rgba(18,216,250,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(48,147,209,1) 0%, rgba(18,216,250,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(48,147,209,1) 0%, rgba(18,216,250,1) 100%);
    background: linear-gradient(135deg, rgba(48,147,209,1) 0%, rgba(18,216,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3093d1', endColorstr='#12d8fa', GradientType=1 );" id="cover"></div>


	<div itemprop="mainContentOfPage" role="main" class="o-container">


	    <%= require('html-loader!./includes/topbar.html') %>


        <div class="c-top">
            <div class="o-wrap">
                <div class="c-toplead">
                    <p class="c-toplead__slogan">
                        Mobilność <br>
                        i elastyczność <br>
                        logistyczna
                    </p>
                    
                    <div class="c-toplead__btn">
                        <a href="#" class="o-btn o-btn--white js-open-contactform">Skontaktuj się</a>
                    </div>
                </div>
            </div>

            <div class="c-top__image c-top__image--home"></div>
        </div>
        
        
        <div class="o-content">
  
            <div class="c-intro anim">
                <div class="o-wrap">
                    <header>
                        <h2 class="o-header__secondary">
                            Naszym pomysłem na logistykę<br>
                            jest mobilność i elastyczność<br>
                            rozwiązań.
                        </h2>
                        
                        <h4 class="o-header__fourth">
                            Dotyczy to zarówno rozwiązań technicznych<br>
                            jak i systemów informatycznych.
                        </h4>
                    </header>
                </div>
            </div>


            <div class="c-levels">
                <div class="o-wrap anim">
                    <div class="c-lead c-lead--centerl">  
                        <div class="c-lead__img">
                            <img src=<%= require("./img/home/logistyka.png") %> alt="logistyka" width="180" height="126">
                        </div>
                    
                        <div class="c-lead__title">
                            <h2 class="o-header__primary">Logistyka</h2>
                        </div>
                    </div>
                </div>
                
                <ul class="o-list">
                    <li class="o-list__item anim">
                        <div class="o-cols">
                            <div class="o-cols__item">
                                <figure>
                                    <img src=<%= require("./img/home/etap-1r.png") %> alt="" width="800" height="638">
                                </figure>
                            </div>
                            
                            <div class="o-cols__item">
                                <h4 class="o-header__secondary">Etap I</h4>
                                
                                <article class="c-text">
                                    <p>
    Nasze ciężarówki odbierają towar w całej Europie
    od klientów i przywożą go do <a href="#">Hub nr 1</a>.
    Wykonujemy proces przeładunku, łączenia towarów
    z różnych kierunków w logiczne korytarze transportowe do Danii, Szwecji i Norwegii.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </li>
                    
                    <li class="o-list__item anim">
                        <div class="o-cols">
                            <div class="o-cols__item">
                                <figure>
                                    <img src=<%= require("./img/home/etap-2r.png") %> alt="" width="800" height="482">
                                </figure>
                            </div>
                            
                            <div class="o-cols__item">
                                <h4 class="o-header__secondary">Etap II</h4>
                                
                                <article class="c-text">
                                    <p>
    W <a href="#">Hub nr 1</a> wypełniamy 100% powierzchni
    ładunkowej naczepy. Następnie towar wysyłany jest we wszystkich kierunkach skandynawskich. Tu następuje
    kompresja i maksymalna utylizacja powierzchni.
    Łączymy towary lekkie i przestrzenne z małymi i ciężkimi.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </li>
    
                    <li class="o-list__item anim">
                        <div class="o-cols">
                            <div class="o-cols__item">
                                <figure>
                                    <img src=<%= require("./img/home/etap-3r.png") %> alt="" width="800" height="448">
                                </figure>
                            </div>
                            
                            <div class="o-cols__item">
                                <h4 class="o-header__secondary">Etap III</h4>
                                
                                <article class="c-text">
                                    <p>
    W <a href="#">Hub nr 2</a> (Skandynawia) po raz kolejny dowozimy towary od klientów skandynawskich i dokonujemy dekompresji towarów z Europy.
                                    </p>
                                    
                                    <h6>
    Procesy te są powtarzane kilkakrotnie 
    ze względu na duże odległości i małe zaludnienie, 
    szczególnie w rejonach Skandynawii północnej.
                                    </h6>
                                </article>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            
            <div class="c-hubs">
                <div class="o-wrap">  
                
                    <div class="c-lead c-lead--centerr anim">
                        <div class="c-lead__title">
                            <h2 class="o-header__primary">Hub-y</h2>
                            
                            <div class="c-lead__subtitle"> 
                                <p class="o-header__fourth">4 modułowe</p>
                            </div>
                        </div>
                        
                        <div class="c-lead__img">
                            <img src=<%= require("./img/home/huby.png") %> alt="huby" width="197" height="136">
                        </div>                        
                    </div>


                    <ul class="o-list">
                        <li class="o-list__item anim">
                            <div class="o-cols">
                                <div class="o-cols__item">
                                    <figure>
                                        <img src=<%= require("./img/home/hub-1.png") %> alt="" width="600" height="401">
                                    </figure>
                                </div>
                                
                                <div class="o-cols__item">
                                    <h4 class="o-header__third">Hub wersja 1</h4>
                                    <h5 class="o-header__fourth">2 moduły logistyczne + 2 moduły “paczkomatowe”</h5>
                                    
                                    <article class="c-text">
                                        <h6>
Nulla aliquet justo in sem feugiat suscipit.
Nulla consequat dui mauris, vitae maximus orci
feugiat sed. Proin nec porta felis, vel fringilla turpis.
                                        </h6>
                                    </article>
                                </div>
                            </div>
                        </li>
                        
                        <li class="o-list__item anim">
                            <div class="o-cols">
                                <div class="o-cols__item">
                                    <figure>
                                        <img src=<%= require("./img/home/hub-2.png") %> alt="" width="600" height="302">
                                    </figure>
                                </div>
                                
                                <div class="o-cols__item">
                                    <h4 class="o-header__third">Hub wersja 2</h4>
                                    <h5 class="o-header__fourth">4 moduły logistyczne z możliwością rozbudowy modułów, w systemie “klocków Lego”</h5>
                                    
                                    <article class="c-text">
                                        <h6>
Nulla aliquet justo in sem consequat dui mauris,
vitae maximus orci feugiat sed. Proin nec porta felis,
feugiat suscipit uringilla turpis.
                                        </h6>
                                    </article>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="o-wrap">
                <div class="c-click">
                    <div class="c-lead c-lead--left anim"> 
                        <div class="c-lead__img">
                            <img src=<%= require("./img/home/click_collect.png") %> alt="" width="133" height="134">
                        </div>
                        
                        <h2 class="o-header__primary2">
                            Paczkomat<br>
                            Click & collect
                        </h2>
                    </div>
                    
                    <article class="c-text c-text--indent">
                        <h4 class="o-header__third">Opis usługi</h4>
                        
                        <ul>
                            <li>Zamówienie w sklepie internetowym</li>
                            <li>Dostawa do naszego hub-u</li>
                            <li>Wydanie towaru w Skandynawii w hubie, klient otrzymuje<br> SMS i odbiera przesyłkę w najbliższym punkcie</li>
                        </ul>
                    </article>
                </div>
            </div>
            
            
            <div class="o-wrap"> 
                <div class="c-analysis">
                    <div class="c-lead c-lead--left anim"> 
                        <div class="c-lead__img">
                            <img src=<%= require("./img/home/analiza.png") %> alt="" width="144" height="129">
                        </div>
                        
                        <h2 class="o-header__primary2">
                            Analiza naszych<br>
                            rozwiązań
                        </h2>
                    </div>
                    
                    <article class="c-text c-text--indent">
                        <h4 class="o-header__third">Opis analizy</h4>
                        
                        <ul>
                            <li>Niskie koszty własne eksploatacji hub-ów, maksymalne wykorzystanie powierzchni ładunkowej, ograniczona <br> ilość personelu ponieważ kierowcy wykonują większość procesów.</li>
                            <li>Dostępność 24/7, paczkomat wielkogabarytowy</li>
                            <li>Zastosowanie w komercyjne + osoby prywatne</li>
                            <li>Testowanie nowych lokalizacji po niskich<br> kosztach dzięki mobilności tego rozwiązania</li>
                            <li>Możliwość dostaw, do klienta finalnego, dronami.<br>
Testujemy rozwiązanie na północy Szwecji, mamy tam<br>
własny obiekt logistyczny w mało zaludnionym<br>
terenie + 2 ha własnej ziemi.</li>
                            <li>Potencjalnie przystosowanie modułów do sklepów<br>
                            samoobsługowych i showroom-ów.</li>
                        </ul>
                    </article>
                </div>
            </div>
            
            
            <div class="o-wrap">
                <div class="c-quickcontact c-quickcontact--600 anim">
                    <h4 class="o-header__fourth">Skontaktuj się z nami</h4>
                    <a href="#" class="o-btn o-btn--shadow o-btn--bluegradient js-open-contactform">Kontakt</a>
                </div>
            </div>
        </div>
        
        
        

        <%= require('html-loader!./includes/contact.html') %>
        <%= require('html-loader!./includes/footer.html') %>
        <%= require('html-loader!./includes/grid.html') %>
	</div>
	


</body>
</html>
